# Flask Configuration
SECRET_KEY=your-secret-key-here
FLASK_ENV=development
FLASK_DEBUG=True

# Database Configuration
DATABASE_URL=sqlite:////app/instance/restaurant.db

# Email Configuration (for invoice/PDF sending)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=ablalar42@gmail.com
MAIL_PASSWORD=chdy btrb lhjp nhtg

# Optional: Redis for caching
REDIS_URL=redis://localhost:6379/0
